
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 50%;
  margin-left: -60px;
  
  /* Fade in tooltip - takes 1 second to go from 0% to 100% opac: */
  opacity: 0;
  transition: opacity 1s;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

:root {
  
  --color-title:  blue;
  --white-color:  black;
  --secondary-color: black;
  --site-footer-bg-color: red;

  --body-font font-family: 'Karla', sans-serif;
}

.h2{
background: var(--color-title);
}

.section-padding {
padding-top: 100px;
padding-bottom: 100px;
}



/*---------------------------------------
FORMA BLOCK
-----------------------------------------*/
.forma{
text-align: center;
transition: all 0.5s ease;
min-height: 230px;
padding: 10px;
}

.forma-block:hover {
background: var(--white-color);
border-radius: var(--border-radius-medium);
box-shadow: 0 1rem 3rem rgba(0,0,0,.175);
}

.forma-block:hover .forma-block-img {
transform: scale(0.75);
}

.forma-block-img {
display: block;
margin: auto;
transition: all 0.5s;
}

.forma-block:hover .forma-block-text {
margin-top: 0;
}

.forma-block-text {
color: var(--primary-color);
font-size: var(--h5-font-size);
margin-top: 10px;
transition: all 0.5s;

}
/*
.social-icon {
  margin: 0;
  padding: 0;
}
.social-icon-item {
  list-style: none;
  display: inline-block;
  vertical-align: top;
}

((.social-icon-link {
  background: var(--site-footer-bg-color);
  border-radius: var(--border-radius-large);
  color: var(--white-color);
  font-size: var(--copyright-font-size);
  display: block;
  margin-right: 5px;
  text-align: center;
  width: 35px;
  height: 35px;
  line-height: 38px; 

}

.social-icon-link:hover {
  background: var(--primary-color);
  color: var(--white-color);
}
*/
/*---------------------------------------
CENTRADA
-----------------------------------------*/
.centrar-section {
background-repeat: no-repeat;
background-position: center;
background-size: cover;
}

.centrar-image {
border-radius: var(--border-radius-medium);
display: block;
width: 350px;
height: 400px;
object-fit: cover;
}

.centrar-text-block {
padding: 60px 40px;
}

/*---------------------------------------
ICON - Redes sociales
-----------------------------------------*/
.social-icon {
margin: 0;
padding: 0;
}

.social-icon-item {
list-style: none;
display: inline-block;
vertical-align: top;
}

.social-icon-link {
background: var(--site-footer-bg-color);
border-radius: var(--border-radius-large);
color: var(--white-color);
font-size: var(--copyright-font-size);
display: block;
margin-right: 5px;
text-align: center;
width: 35px;
height: 35px;
line-height: 38px;
}

.social-icon-link:hover {
background: var(--primary-color);
color: var(--white-color);
}


.logo{
color: var( --site-footer-bg-color);
font-size: 50px

}
.boton{
padding: 5%;
color: var(--white-color);
background-color: var( --site-footer-bg-color);
border-color: #D4AC0D ;
opacity: 1;
}

.boton:hover{
background-color: var( --primary-color);
}
.google-maps {
position: relative;
padding-bottom: 75%; // This is the aspect ratio
height: 0;
overflow: hidden;
}
.google-maps iframe {
position: absolute;
top: 0;
left: 0;
width: 100% !important;
height: 100% !important;
}