
@import url('https://fonts.googleapis.com/css?family=Barlow:100,200,300,400,500,600,700');
@import url('https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@900&display=swap');


h1 {
    font-size: 24px;
    text-align: center;
    font-family: 'Fuzzy Bubbles', cursive;
}

h2 {
    font-size: 22px;
    font-family: 'Fuzzy Bubbles', cursive;
}

h3 {
    font-size: 18px;
}

h4 {
    font-size: 16px;
    font-family: 'Fuzzy Bubbles', cursive;
}

h5 {
    font-size: 14px;
    font-family: 'Fuzzy Bubbles', cursive;
}

h6 {
    font-size: 13px;
}

/*
.header {
  position: relative;
  height: 100vh;
  min-height: 500px;
  --opacidad-negro: 0.6;
  background-image: linear-gradient(rgba(0, 0, 0, var(--opacidad-negro)), 
    rgba(0, 0, 0, var(--opacidad-negro))), url("../Imagenes/fondo.jpg"); 
  no-repeat center center fixed;
  background-size: cover;
  overflow: hidden;
}
*/

.header .shape svg {
  position: absolute;
  bottom: 0px;
  left: 0;
  width: 100%;
  z-index: 9;
  fill: #fff;
}


.caja{
	padding: 90px 0px;
     background:#ADD8E6;
}

.titulo-caja{
	text-align: center;
	margin-bottom: 30px;
	padding: 10px 0px;
  text-align:center;
	

}
.titulo-caja h2{
	font-size: 20px;
	font-family: 'Sansita Swashed', cursive;
	color: #03071F;
  text-align:center;
  background-color:Green;
}

.logo{
    width: 150px;
}
.navegacion{
    padding: 3%;
    color:#00FF00;
}

.animacion:hover{
	transform: rotate(20deg);
	filter: blur(4px);
}


/*------------------------------------------------------------------
    Carga 
-------------------------------------------------------------------*/


#contenedorCarga{
	background: pink;
	width: 100%;
  height: 100%;
  position: fixed;
  -webkit-transition: all 3s ease;	
  -o-transition: all 3s ease;
  transition: all 3s ease;
  z-index:11000;

}

#carga{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	-webkit-animation: girar 1.5s linear infinite;
	-o-animation: girar 1.5s linear infinite;
	animation: girar 1.5s linear infinite;
}
/*--animacion spinners
#carga2{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;

}
--*/
/*--animacion icono*/
#carga3{
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  font-size: 300%;
  color: white;
}
@keyframes girar{
	from{transform: rotate(0deg);}
	to {transform:  rotate(360deg);}

}

/*animacion*/
.container {
  position: relative;
  width: 50%;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #008CBA;
}



.text {
  color: pink;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

nav{
background-color: #D4AC0D ;
background-image: linear-gradient(43deg, #6E2C00 0%, #9C640C 46%, #FFCC70 100%);
opacity:0.6;
}


.boton{
background-color: #6E2C00;
border-color: #D4AC0D ;
}
*/
.header{
height: 100vh;
}

.header video {
width: 100%;
height: 100%;
object-fit: cover;
}

h1{
  border-color: blue;
  border-style: solid;
}

.proceso2{
  position: relative;
  height: 100vh;
  min-height: 500px;
  --opacidad-negro: 0.6;
  background-image: linear-gradient(rgba(0, 0, 0, var(--opacidad-negro)), 
    rgba(0, 0, 0, var(--opacidad-negro))), url("../Imagenes/logooreo.png"); 
  no-repeat center center fixed;
  background-size: cover;
  overflow: hidden;
}
.cajaEstilo {
align-content: center;
text-align: justify;
background-color: rgb(43, 17, 0, 0.6);
margin: 30px;
padding: 30px;
color:#F0FFF0;
}
.shape2 {
  position: absolute;
  bottom: 0px;
  left: 0;
  width: 100%;
  z-index: 9;
}

.cajaEstilo2 {
align-content: center;
text-align: justify;
background-color: rgb(43, 17, 0, 0.6);
margin: 20px;
padding: 30px;
color:#F0FFF0;
}

.proceso3 {
  position: relative;
  height: 10vh;
  min-height: 400px;
  --opacidad-negro: 0.6;
  background-image: linear-gradient(rgba(0, 0, 0, var(--opacidad-negro)), 
    rgba(0, 0, 0, var(--opacidad-negro))), url("../Imagenes/marcas.webp"); 
  no-repeat center center fixed;
  background-size: cover;
  overflow: hidden;
}

.section-padding{
  padding-top: 100px;
  padding-bottom: 100px;
}

.section-bg{
  background-color: var(--section-bg-color);
}

